<ul class="alert alert-danger" *ngIf="errors?.length > 0">
  <li class="mx-2" *ngFor="let err of errors">{{err}}</li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{title}}</div>
  <div class="card-body">
    <form #clientForm="ngForm">
      <div class="form-group row">
        <label for="name" class="col-form-label col-sm-2">Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="client.name" name="name" #name="ngModel" required minlength="4">
          <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors.required">
              Name is required
            </div>
            <div *ngIf="name.errors.minlength">
              Name has minimal lenght 4 characters
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="lastName" class="col-form-label col-sm-2">Last Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="client.lastName" name="lastName" #lastName="ngModel" required minlength="4">
          <div class="alert alert-danger" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            <div *ngIf="lastName.errors.required">
              Last name is required
            </div>
            <div *ngIf="lastName.errors.minlength">
              Last name has minimal lenght 4 characters
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" [(ngModel)]="client.email" name="email" #email="ngModel" required email>
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
              Email is required
            </div>
            <div *ngIf="email.errors.email">
              Email must have a valid format
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <label for="lastName" class="col-form-label col-sm-2">Created Date</label>
        <div class="col-sm-5">
          <input type="text" [(ngModel)]="client.createdDate" class="form-control" #dp="bsDatepicker" bsDatepicker [daysDisabled]="[6,0]" 
            [bsConfig]="{containerClass: 'theme-dark-blue' ,isAnimated: true,dateInputFormat: 'DD/MM/YYYY' }" name="createdDate" 
            #createdDate="ngModel" required>
          <div class="alert alert-danger" *ngIf="createdDate.invalid && (createdDate.dirty || createdDate.touched)">
            <div *ngIf="createdDate.errors.required">
              Created Date is required
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <button style="color: white;" type="button" class="btn btn-info" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
            <span class="fas fa-calendar-alt fa-1x"></span>
          </button>
        </div>
      </div>
      <div class="form-group row mt-3">
        <label for="region" class="col-form-label col-sm-2">Region</label>
        <div class="col-sm-6">
          <select [compareWith]="compareRegion" class="form-control" [(ngModel)]="client.region" name="region">
            <option [ngValue]="undefined">Please select region</option>
            <option *ngFor="let region of regions" [ngValue]="region" >{{region.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary square" role="button" (click)="create()" *ngIf="!client.id else elseBlock" [disabled]="!clientForm.form.valid">Create</button>
          <ng-template #elseBlock>
            <button class="btn btn-primary square" role="button" (click)="update()" [disabled]="!clientForm.form.valid">Update</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>