<footer class="bg-dark text-white mt-4 rounded-top">
  <div class="container-fluid py-3">
      <div class="row">
          <div class="col-md-3">
              <h5>Autor</h5></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
      </div>
      <div class="row">
          <div class="col-md-6">{{autor.nombre +' '+autor.apellido}}.</div>
          <div class="col-md-3"></div>
          <div class="col-md-3 text-right small align-self-end">&copy; Todos los derechos reservados {{anio}}.</div>
      </div>
  </div>
</footer>